{% extends 'base.html' %}
{% load static %}

{% block products %}

    <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{% static 'images/products/rail_gantry.jpg' %}"
            alt="Rail Gantry">
            <div class="card-body">
              <h4 class="card-text text-muted">Rail Gantries</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{% static 'images/products/catenary_pulley.jpg' %}"
            alt="Catenary Pulley">
            <div class="card-body">
              <h4 class="card-text text-muted">Catenary Pulleys</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{% static 'images/products/insulators.jpg' %}"
            alt="Insulators">
            <div class="card-body">
              <h4 class="card-text text-muted">50kV, 25kV and 3kV Insulators</h4>
            </div>
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{% static 'images/products/block_tackles.jpg' %}"
            alt="Block and Tackles">
            <div class="card-body">
              <h4 class="card-text text-muted">Block and Tackles</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{% static 'images/products/stay_guard.jpg' %}"
            alt="Stay Guard">
            <div class="card-body">
              <h4 class="card-text text-muted">Stay Guard</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{% static 'images/products/weight_tension_wheel.jpg' %}"
            alt="Wheight Tension Wheel">
            <div class="card-body">
              <h4 class="card-text text-muted">Weight Tension Wheels</h4>
            </div>
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{% static 'images/products/trans_spec.jpg' %}"
            alt="Transnet Spec Ropes for Tackles">
            <div class="card-body">
              <h4 class="card-text text-muted">Transnet Spec Ropes for Tackles</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{% static 'images/products/ppo.jpg' %}"
            alt="PPO Attachment">
            <div class="card-body">
              <h4 class="card-text text-muted">PPO Attachments</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{% static 'images/products/m24turn.jpg' %}"
            alt="M24 Turnbuckles">
            <div class="card-body">
              <h4 class="card-text text-muted">M24 Turnbuckles</h4>
            </div>
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{% static 'images/products/steady.jpg' %}"
            alt="Steady Arms">
            <div class="card-body">
              <h4 class="card-text text-muted">Steady Arms</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{% static 'images/products/bridge_cross.jpg' %}"
            alt="Bridge Cross Span Fitting">
            <div class="card-body">
              <h4 class="card-text text-muted">Bridge Cross Span Fitting</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{% static 'images/products/link_switch.jpg' %}"
            alt="6.6kV Link Switch Insulator">
            <div class="card-body">
              <h4 class="card-text text-muted">6.6kV Link Switch Insulators</h4>
            </div>
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{% static 'images/products/hockey_stick.jpg' %}"
            alt="25kV AC Double Hockey Stick Arr.">
            <div class="card-body">
              <h4 class="card-text text-muted">25kV AC Double Hockey Stick Arr.</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{% static 'images/products/tension_pull.jpg' %}"
            alt="25kV AC Auto Tension Pull Off">
            <div class="card-body">
              <h4 class="card-text text-muted">25kV AC Auto Tension Pull Off</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{% static 'images/products/siding_switch.jpg' %}"
            alt="3kV Siding Switch">
            <div class="card-body">
              <h4 class="card-text text-muted">3kV Siding Switch</h4>
            </div>
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{% static 'images/products/reg_arm.jpg' %}"
            alt="Registering Arm Swivel Fitting">
            <div class="card-body">
              <h4 class="card-text text-muted">Registering Arm Swivel Fitting</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{% static 'images/products/suspen_piv.jpg' %}"
            alt="Suspension Pivot Fitting">
            <div class="card-body">
              <h4 class="card-text text-muted">Suspension Pivot Fitting</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{% static 'images/products/25kv_ins.jpg' %}"
            alt="25kV AC Stand-Off Insulator">
            <div class="card-body">
              <h4 class="card-text text-muted">25kV AC Stand-Off Insulator</h4>
            </div>
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{% static 'images/products/tension_piv.jpg' %}"
            alt="Auto Tension Pivot Fitting">
            <div class="card-body">
              <h4 class="card-text text-muted">Auto Tension Pivot Fitting</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{% static 'images/products/tension_term.jpg' %}"
            alt="Auto Tension Termination">
            <div class="card-body">
              <h4 class="card-text text-muted">Auto Tension Termination</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{% static 'images/products/catenary_ins.jpg' %}"
            alt="Catenary Insulation on Overlap">
            <div class="card-body">
              <h4 class="card-text text-muted">Catenary Insulation on Overlap</h4>
            </div>
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{% static 'images/products/motor_op.jpg' %}"
            alt="Motor Operated Device">
            <div class="card-body">
              <h4 class="card-text text-muted">Motor Operated Device</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{% static 'images/products/sect_ins.jpg' %}"
            alt="25kV AF Section Insulator">
            <div class="card-body">
              <h4 class="card-text text-muted">25kV AF Section Insulator</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{% static 'images/products/diamond.jpg' %}"
            alt="Diamond Shaped Section insulator">
            <div class="card-body">
              <h4 class="card-text text-muted">Diamond Shaped Section insulator</h4>
            </div>
          </div>
        </div>
    </div>

{% endblock %}

{% block option %} <br/> {% endblock %}